
html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}

.content {
  position: absolute;
  top: 43px;
  bottom: 49px;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


.wrapper {
  padding: 0px 10px 10px 10px;
}

.centered {
  text-align: center;
}

.right-input-label {
  position: absolute;
  font-weight: bold;
  top: 12px;
  right: 40px;
}